.nav-wrap {
    position: sticky;
    top: 0;
    background: rgba(39, 39, 48, 0.95);
    backdrop-filter: blur(6px);
    z-index: 20;
    background-color: var(--bg2);
    box-shadow: 0px 0px 10px var(--accentt);
}

.nav-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    position: relative;
}

.logo {
    color: var(--accent);
    font-weight: 700;
    letter-spacing: 1.1px;
    font-size: 1.6rem;
}

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: large;
}

.nav-links span {
    margin-left: 1rem;
    color: var(--text);
    font-weight: 500;
    cursor: pointer;
}

.nav-links .active {
    color: var(--accent);
}

.nav-icon {
    font-size: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
}

.nav-icon:hover {
    transform: scale(1.15);
    color: var(--accent);
}

.menu-btn {
    display: none;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
}



@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 10px;
        background: var(--bg2);
        flex-direction: column;
        width: 200px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 0 10px var(--accentt);
        display: none;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links span {
        margin: 10px 0;
    }

    .menu-btn {
        display: block;
    }

    .icons {
        gap: 10px;
    }
}