.project-card {
    background-color: var(--bg2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding: 16px;
    border-radius: 12px;
}

.project-card h3 {
    margin-top: 12px;
    color: var(--accent);
    font-size: 20px;
}

.project-desc {
    color: #dcdcdc;
    margin: 8px 0 12px 0;
}

.project-actions a {
    background: transparent;
    color: var(--text);
    border: 1px solid var(--accentt);
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 600;
    display: inline-block;
    font-weight: 600;
}

.project-actions a:hover {
    background-color: var(--accentt);
}

.thumb {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}