.skills {
    background-color: var(--bg2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 20px;
    text-align: center;
    padding: 36px 0;
    margin-top: 4rem;
}

.skills-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2.5rem;
}

.skills-list li {
    background: transparent;
    color: var(--text);
    border: 1px solid var(--accentt);
    padding: 10px 14px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

.skills-list li:hover {
    background-color: var(--accentt);
}